.Rhistory
.Rapp.history

.RData
.Ruserdata

*.Rproj
.Rproj.user/

.Rproj.user/
.Rhistory

.Renviron
.Renv.lock
.RENV/

packrat/
renv/library/
renv/staging/
renv/cache/

docker-compose.override.yml
*.log

.DS_Store
.rstudio

.local/share/rstudio
